<h2 mat-dialog-title class="dialogtitle">
    Pomoć
    <button style="float: right;" mat-icon-button type="button" matTooltip="Zatvori" matTooltipPosition="above"
        mat-dialog-close class="closebutton">
        <mat-icon>close</mat-icon>
    </button>
</h2>
<mat-dialog-content>
    <b>Pretraga</b>
    <p>Za pretragu upunite podatke u harmonici pretraga i pritisnite "Primijeni". Za brisanje svih unešenih podataka pretrage pritisnite dugme "Očisti" (X).</p>
    <b>Novo vozilo</b>
    <p>Za dodavanje novog vozila morate biti prijavljeni kao član rent-a-car kuće. Za dodavanje pritisnite plus (+) tipku iznad tabele.</p>
    <b>Rezervisanje vozila</b>
    <p>Za rezervisanje vozila odaberite pregled detalja vozila na dugme lupe pored u tabeli. Zatim klikom na dugme "Rezerviši" se otvara forma za unos podataka kreditne kartice. Ukoliko ste ranije unijeli podatke na vašem nalogu isti će biti upunjeni.</p>
</mat-dialog-content>